@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=VT323&display=swap');

body {
    background-color: #C4C9FA;
}

p, aside {
    font-family: 'Azeret Mono', monospace;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: VT323;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}

h2 {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#navbar ul, li {
    font-family: VT323;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
    list-style: none;
}

#footer {
    font-family: VT323;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
    list-style: none; 
}

#navbar {
    text-align: center;
}

a:link {    
    color:black;
    text-decoration: none;
}
a:visited {
    color:black;
    text-decoration: none;
}
a:hover {
    color:white;
    text-decoration: none;
}
a:active {
    color:#000000;
    text-decoration: none;
}

#giphy-embed {
    border:#000000 3px;
}

main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat (12, 1fr);
    grid-gap: 2em;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#navbar {
    grid-column: 10 / 12;
    grid-row: 1 / 2;
}

#rectangle1 {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    background: #E4C8A7;
    border: 3px solid #000000;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
}

#rectangle2 {
    grid-column: 1 / 9;
    grid-row: 2 / 4;
    background: #E5E5E5;
    border: 3px solid #000000;
    box-sizing: border-box;
}

#rectangle3 {
    grid-column: 9 / 12;
    grid-row: 2 / 5;
    background: #FDADBB;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 20px 20px 0px #000000;
}


#rectangle5 {
    grid-column: 1 / 9;
    grid-row: 4 / 8;
    background:#E5E5E5;
    border: 3px solid #000000;
    box-sizing: border-box;
}

#footer {
    display: grid;
    grid-template-columns: 50% 50%;
}

#footer ul, #footer li {
    grid-column: 2 / 3;
    display: inline;
    font-family: VT323;
    font-size: 30px;
    text-align:end;
    list-style: none; 
    padding: 10px;
}

#footer li {
    margin-left: 10px;
    margin-right: 10px;
}